html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
    font-family: Helvetica;
  }
  
  a {
    color: black;
  }
  
  header {
    padding: 10px;
    background: blue;
    color:green ;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
  }
  
  nav {
    background-color:green ;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin: 20px;
    font-size: 24px;
  }
  
  section {
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    min-height: 800px;
  }
  
  section img {
    margin-top: 20px;
  }
  
  footer {
    clear: left;
    padding: 10px;
    background:pink ;
    text-align: cente ;
  }